---
import MainLayout from "../layouts/MainLayout.astro";

import { glob } from "glob";
import path from "node:path";

const paths = await glob("public/photos/**/*.jpg");
const urls = paths.map((p) => path.relative("public", p));

console.log({ urls });

urls.sort();
---

<MainLayout>
  <div class="grid grid-cols-4">
    {
      urls.map((url) => (
        <div class="aspect-square">
          <img class="w-full h-full object-cover" src={url} />
        </div>
      ))
    }
  </div>
</MainLayout>
