<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Photoblog</title>
  </head>
  <body>
    <div id="app">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Playwrite+PL&display=swap");

  * {
    font-family: "Inconsolata", monospace;
  }

  .site-logo {
    font-family: "Playwrite PL", sans-serif;
  }
</style>
